:root {
    --grey: #505050;
    --lightGrey: #A0A0A0;
    --blue: #015cfe;
    --blueHvr: #0022af;
    --blueClck: #04006c;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Segoe UI, sans-serif;
}

.title {
    color: var(--grey);
    font-size: 1.5rem;
    font-weight: 400;
}

.version {
    color: var(--lightGrey);
    font-weight: 400;
    margin-bottom: 1rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo-container img {
    width: 75%;
    height: auto;
}

.auto-btns {
    padding: 0.5rem 1.25rem;
    border-radius: .125rem;
    cursor: pointer;
    font-size: 1.125rem;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#auto-start-btn {
    border: .0625rem solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

#auto-start-btn:hover {
    border-color: var(--blueHvr);
    background-color: var(--blueHvr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#auto-start-btn:active {
    border-color: var(--blueClck);
    background-color: var(--blueClck);
}

#auto-stop-btn {
    border: none;
    background-color: transparent;
    color: var(--blue);
}

#auto-stop-btn:hover {
    color: var(--blueHvr);
}

#auto-stop-btn:active {
    color: var(--blueClck);
}
